* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #444;
  color: #f0f0f0;
}

.text-yellow {
  color: #fdd835;
}

.header {
  position: fixed;
  z-index: 2;
}

.header .nav-btn {
  position: absolute;
  left: 35px;
  top: 35px;
  z-index: 3;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.header .nav-btn .nav-btn-line {
  width: 28px;
  height: 5px;
  margin-bottom: 5px;
  background: #f0f0f0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.header .nav-btn.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.header .nav-btn.open .nav-btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.header .nav-btn.open .nav-btn-line:nth-child(2) {
  opacity: 0;
}

.header .nav-btn.open .nav-btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(8px, -9px);
          transform: rotate(-45deg) translate(8px, -9px);
}

.header .navbar {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(68, 68, 68, 0.8);
  left: -100vw;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.header .navbar.open {
  left: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.header .navbar .nav-menu {
  list-style: none;
  font-size: 2.5rem;
  height: 100%;
  margin-top: 25%;
}

.header .navbar .nav-menu .menu-item {
  margin-bottom: 2rem;
}

.header .navbar .nav-menu .menu-item .menu-link:hover {
  color: #fdd835;
  border-bottom: 3px solid #fdd835;
}

.header a.menu-link {
  color: #fff;
  text-decoration: none;
}

.masthead {
  width: 100%;
  height: 100vh;
  background: rgba(68, 68, 68, 0.8);
}

.masthead:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../imgs/background.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.masthead .mast-main, .masthead .mast-sub {
  font-weight: 400;
  position: absolute;
}

.masthead .mast-main {
  font-size: 3.2rem;
  top: 30%;
  left: 10%;
}

.masthead .mast-sub {
  font-size: 1.2rem;
  top: 45%;
  left: 10%;
}

.about {
  background: #484848;
  padding: 1rem;
  padding-bottom: 2rem;
}

.about .about-header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}

.about .about-img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -o-object-fit: cover;
     object-fit: cover;
}

.about hr {
  width: 80%;
  background: #fdd62b;
  margin-top: 1rem;
  height: 3px;
}

.about .about-info {
  font-size: 1rem;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  line-height: 1.5;
}

.projects {
  width: 100%;
  padding: 1rem;
  background: #515151;
}

.projects .projects-header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}

.projects .project {
  width: 80%;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  background: #444;
  margin: auto;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.projects .project .project-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  width: 80%;
  margin: 1rem auto;
  line-height: 1.5;
}

.projects .project hr {
  background: #fdd62b;
  height: 4px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.projects .project .project-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .project .description {
  padding: 1rem;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.projects .project .project-link {
  text-decoration: none;
  padding-left: 1rem;
  color: #fdd835;
  font-size: 1rem;
}

.projects .project .project-link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */