

// Major Breakpoints
@media screen and (min-width: 750px) {
    .header {

        .nav-btn {
            top: 50px;
            left: 50px;

        }

        .navbar {
            width: 50vw;
            font-size: 3rem;

            .nav-menu {
                margin-top: 60%;
                font-size: 4rem;

                .menu-item {
                    margin-bottom: 4rem;
                }
            }
        }
    }

    .masthead {
        .mast-main {
            font-size: 5rem;
        }

        .mast-sub {
            font-size: 1.8rem;
        }
    }

    .about {
        // padding: 2rem;
        padding-bottom: 4rem;

        .about-header {
            font-size: 4rem;
            width: 100%;
        }

    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .projects-header {
            width: 100%;
            font-size: 4rem;
        }


    }
}